@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);

body {
    background: #222;
    color: #fff;
}

a {
    color: #fff;
}

a:hover {
    color: #5cb7d6;
}


/*Navigation Container and Button Controls*/

.navHomePage {
    position: absolute;
    top: 1.5%;
    right: 0;
}

.navIconContainer {
    margin-top: 10vh;
}

.navIcon {
    background-color: rgba(0, 0, 0, 0.3);
    border: solid #222 10px;
    text-align: center;
    height: 300px;
    max-width: 100%;
}

.navIcon:hover {
    transform: scale(1.2, 1.2);
    transition: transform 0.5s, box-shadow 0.3s;
    background-color: rgba(0, 0, 0, 1);
    border: solid rgba(0, 0, 0, 1) 15px;
    color: #5cb7d6;
    box-shadow: #5cb7d6 0 0 1rem 1rem;
    z-index: 1;
}
.fa-5x {
    font-size: 15em;
    margin: auto;
    padding-top: 25px;
}
/*Events Page*/

.eventContainer {
    width: 80vw;
}

.eventRow {
    margin-top: 12px;
}

.eventCard {
    border-radius: 2px;
    box-shadow: 10px 15px 34px rgba(0, 0, 0, .9);
    height: 250px;
    width: 100%;
}

.avatarContainer {
    float: left;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

    .avatar {
        height: 100%;
    }

.eventCardBody {
    background-color: #222222;
    /*opacity: .8;*/
    border-left: 5px solid #5cb7d6;
    float: left;
    height: 100%;
    padding: 12px 15px;
}

    .companyLogo {
        height: 40px;
    }

.eventCardBodyMiddle {
    margin-top: 25px;
}

    .eventDate {
        color: #888;
        font-size: 28px;
    }

    .eventSpeaker {
        display: block;
        margin-top: 10px;
        font-size: 2em;
        color: #fff;
    }

.eventCardBodyBottom{
    position: absolute;
    bottom: 3px;
    left: 0;
    padding: 0 15px;
    width: 100%;
}

    .eventFacility {
        color: #5cb7d6;
        font-size: 1.5em;
    }

    .eventLocation{
        color: #5cb7d6;
        font-size: 1.5em;
        float: right;
    }


/*Calendar*/

.calendar {
    max-width: 80vw;
    margin: 20px auto;
}

.month > h1 {
    color: #5cb7d6;
}

.weekday {
    display: flex;
    margin-top: 3vh;
}

.daily {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
}

.week {
    display: flex;
    height: 17vh;
}

.day {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 5px;
    border: solid #222 10px;
// box-shadow: #222 0 0 5px 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.day:hover {
    transform: scale(2, 2);
    transition: transform 0.5s, box-shadow 0.3s;
    background-color: rgba(0, 0, 0, .9);
    box-shadow: #5cb7d6 0 0 5px 5px;
    border: 0;
}

.inactive {
    background-color: rgba(99, 108, 114, 0.5);
}

.fa-angle-left {
    margin-right: 15px;
}

.fa-angle-right {
    margin-left: 15px;
}


/*Media Queries for Responsiveness*/

@media (max-width: 768px) {
    .eventCard {
        height: 50%;
    }
    .eventCardBody {
        height: 50%;
    }
    .eventCardBodyBottom {
        position: relative;
        padding: 0;
        margin-top: 30px;

    }
    .avatarContainer {
        height: 50%;
    }
}
