.navIconContainer {
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
}

#carousel{
    position: relative;
    height: 400px;
    top: 45%;
    transform: translateY(-50%);
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
    /*overflow: hidden;*/
}

.navIconContainer, .hideLeft, .hideRight, .prev, .prevLeftSecond, .selected, .next, .nextRightSecond{
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

.navIcon{
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 400px;
    height: 400px;
    transition: width 1s, height 1s;
}

.navIcon > a {
    color: #fff;
}

.navIcon > a:hover {
    color: #5cb7d6;
}

.fa {
    font-size: 6rem;
    top: 25%;
    position: relative;
}

.hideLeft{
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

.hideLeft > .navIcon {
    width: 200px;
    height: 200px;
}

.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

.hideRight > .navIcon {
    width: 200px;
    height: 200px
}

.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}

.prev > .navIcon{
    width: 300px;
    height: 300px;
}

.prev .fa {
    font-size: 9rem;
    top: 25%;
    position: relative;
}

.prevLeftSecond{
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: .7;
}

.prevLeftSecond > .navIcon {
    width: 200px;
    height: 200px;
}

.selected{
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
    background-color: rgba(0, 0, 0, .8);
    box-shadow: #5cb7d6 0 0 .75rem .75rem;
}

.selected .fa {
    color: #5cb7d6;
    font-size: 15rem;
    top: 20%;
    position: relative;
}

.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}

.next > .navIcon{
    width: 300px;
    height: 300px;
}

.next .fa {
    font-size: 9rem;
    top: 25%;
    position: relative;
}

.nextRightSecond{
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: .7;
}

.nextRightSecond > .navIcon{
    width: 200px;
    height: 200px;
}