/*Event Card Style Sheet*/
.container {
    width: 80vw;
}
.row {
    margin-top: 20px;
}
.event {
    border-radius: 2px;
    box-shadow: 10px 15px 34px rgba(0, 0, 0, 1);
    height: 26vh;
    width: 100%;
}
.eventAvatar {
    float: left;
    height: 100%;
    padding: 0;
    overflow: hidden;
}
.avatar {
    height: 100%;
    width: 100%;
}
.eventCard {
    background-color: rgba(25, 25, 25, .9);
    border-left: 5px solid #5cb7d6;
    float: left;
    height: 100%;
    padding: 5px 15px;
}
.companyLogo {
    height: 4vh;
}
.eventCardMiddle {
    margin-top: 25px;
}
.eventDate {
    color: #888;
    font-size: 26px;
}
.eventSpeaker {
    display: block;
    margin-top: 10px;
    font-size: 26px;
    color: #fff;
}
.eventCardBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 15px;
    width: 100%;
}
.eventCardFooter {
    margin-top: 20px;
}
.eventFacility {
    color: #5cb7d6;
    font-size: 24px;
}
.eventLocation{
    color: #5cb7d6;
    font-size: 25px;
    float: right;
}

/*Media Queries for Responsiveness*/
@media (max-width: 768px) {
    .eventCard {
        height: 55%;
    }
    .eventDate {
        font-size: 3.75vw;
    }
    .eventSpeaker {
        font-size: 3vw;
    }
    .eventFacility {
        font-size: 3.5vw;
    }
    .eventLocation {
        font-size: 3.5vw;
    }
    .eventCardBottom {
        position: relative;
        padding: 0;
        margin-top: 2vh;
    }
    .eventAvatar {
        height: 100%;
    }
}
@media (max-width: 992px) {
    .event {
        height: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .eventCard {
        height: 25vh!important;
    }
}