@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.credits-container {
    height: 90%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.credits {
    position: relative;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    font: 300 30px 'Open Sans Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    animation: 10s credits linear infinite;
}

.project {
    margin-bottom: 50px;
    font-size: 50px;
}

.title {
    margin-bottom: 5px;
    font-size: 18px;
}

.name {
    margin-bottom: 50px;
    font-size: 35px;
}

@keyframes credits {
    0% { top:  100%; }
    100% { top: -100%; }
}