/*==========================================================

            Calendar, Header, Month, Day, Icons

===========================================================*/

tr {
    display: flex;
}

.calendar-container {
    width: 70%;
}

.calendar-container 
.grey-text {
    color: #191919!important;
}

.calendar-month-row {
    font-size: 28px;
    color: #fff;
    justify-content: center;
    margin-top: 5px;
}

.calendar-month-row > 
td:nth-child(2) {
    width: 50%;
    margin: auto;
    text-align: center;
}

.calendar-month-row .arrow {
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    margin: 0;
    padding: 15px 0;
}

.calendar-month-row .arrow:hover {
    transform: scale(1.4);
    transition: all 0.3s ease-in-out;
}

.calendar-header {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
}

.calendar-day {
    padding: 6px 6px;
    width: 10vw;
    height: 6.9vw;
    border: solid rgba(255, 255, 255, .2) 3px;
    background-color: rgba(25, 25, 25, .9)!important;
    border-radius: 0;
}

.calendar-day .avatar {
    height: 100%;
    width: 100%;
}

.enlarge {
    animation: enlarge 0.5s forwards;
    box-shadow: #5cb7d6 0 0 5px 5px;
    border: 0;
}

@keyframes enlarge {
    0% {
        transform:scale(1);
    }
    100% {
        transform:scale(1.1);
    }
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .calendar-container {
        width: 100%!important;
    }

    .calendar-month-row {
        margin-top: 30px;
    }

    .calendar-day {
        text-align: center;
        padding: 5px;
        width: 14vw;
        height: 11vw;
        font-size: 5.25vw;
        border: solid rgba(255, 255, 255, .2) 1px;
    }
}