/*Calendar Style Sheet*/
tr {
    display: flex;
}
.calendar {
    display: table;
    margin: 30px auto;
}
.calTable {
    max-width: 80vw;
    margin: 20px auto;
}
.calMonth {
    font-size: 28px;
    color: #5cb7d6;
    justify-content: center;
    margin: 20px 20px;
}
.calHeaderDay {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
}
.calDay {
    padding: 13px;
    width: 11vw;
    height: 16vh;
    border: solid rgba(34, 34, 34, 0.9) 4px;
    background-color: rgba(0, 0, 0, 0.9);
}
.enlarge {
    animation: enlarge 0.5s forwards;
    box-shadow: #5cb7d6 0 0 5px 5px;
    border: 0;
}
@keyframes enlarge {
    0% {
        transform:scale(1);
    }
    100% {
        transform:scale(1.1);
    }
}

/*Media Queries for Responsiveness*/
@media (max-width: 768px) {
    .calDay {
        padding: 6px;
        width: 14vw;
        height: 7vh;
        font-size: 3vw;
        border: solid rgba(34, 34, 34, 0.9) 5px;
    }
}